.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 2);
}
.input1{
    max-width: 60%;
    min-width: 20px;
}
.taskDetails {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
  

    input {
        display: flex;
        width: 600px;
        height: 38px;
        border-radius: 7px;
    }

    

.btn {
    // width: 600px;
    // height: 38px;
    display: flex;
    background: navy;
    color: rgb(219, 0, 0);
    font-weight: 900;
    border: 2px solid rgb(41, 46, 48);
    cursor: pointer;
    border-radius: 7px;
}
.button{
    width: 180px;
    height: 38px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}